# This is an example version of the env required, it is a template of what variables are needed
# When you input your own keys, id, and API key, ensure you rename this file to .env

# Django Settings
SECRET_KEY=''
ALLOWED_HOSTS=localhost,127.0.0.1

# Payment Gateway Credentials
PAYMENT_BANK_ID=''
PAYMENT_API_KEY=''
PAYMENT_NETWORK_BASE_URL=https://paymentsystem-cards-cf.pages.dev

# 2FA Settings
OTP_TOTP_ISSUER='Extra Credit Union'